<% provide(:title , 'About Us') %>
<div class="row">
	<div class="span3">
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
        About Us
      </a>
    </div>
  </div>
</div>
	</div>
	<div class="span9">
		<ul class="breadcrumb">
          <li>About Us</li>
      	</ul>
      	  <div class="featurette">
    			<img class="featurette-image pull-right" src="http://placehold.it/900x300">
    			<h3 class="featurette-heading">About Us</h3>
    			<p></p>
  		  </div>
        <br>
        <div class="row-fluid">
          	
<p><strong>P.T. GATASIS INDONESIA</strong> was established in 2013, and is a privately owned company located in Jakarta, Indonesia.</p>

<p>For product identity, our software engineers are capable of producing customized design product's label with software programming to include product name, logo, weight, quantity after digitally counted, and barcode for inventory and logistic.</p>
<br>
<ul>
	<li>Weighing and counting</li>
	<li>Protecting packaging</li>
	<li>Labeling</li>
	<li>Coding</li>
	<li>Barcode printing and scanning</li>
</ul>
<br>
<p>Our team of engineers and technicians will constantly pursue training to improve troubleshooting skill, and to provide world class customer care and solutions to achieve better productivity and efficiency in packaging, labeling and barcoding.</p>
        </div>
	</div>
</div>