<% provide(:title , 'Service & Support | PT GATASIS INDONESIA') %>
<div class="row">
	<div class="span3">
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
        Support Request
      </a>
    </div>
  </div>
</div>
	</div>
	<div class="span9">
		<ul class="breadcrumb">
          <li>Service & Support</li>
      	</ul>
      	  <div class="featurette">
    			<%= image_tag("static/PT-Gatasis-Indonesia-services-support.jpg", class: "featurette-image pull-right") %>
    			<h3 class="featurette-heading">Service & Support</h3>
    			<p></p>
  		  </div>
        <br>
        <div class="row-fluid">
          <p>Please contact & visit our service center / service provider for any services.</p>
          <address>
  				<strong>PT. GATASIS INDONESIA</strong><br>
  				Komplek Ruko Duta Harapan Indah Blok JJ No. 33<br>
  				Jl. Kapuk Muara, Jakarta Utara - Indonesia 14470<br>
  				<abbr title="Phone">P:</abbr> +6221-6682592 or +6221-6622528<br><abbr title="Email">E:</abbr> <a class="email" href="mailto:services@ptgatasisindonesia.com?subject=Support Request - <Please write subject here>&body=Please write down your infomation details ( Contact Person, Company Name, Address, Occupation, Telephone No, Service Details )
				">services@ptgatasisindonesia.com</a>
			</address>
        </div>
	</div>
</div>