<% provide(:title, 'Specification - Products Catalogue') %>
<div class="row">
	<div class="span3">
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
        Barcode Printer
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        <ul>
        	<li>Desktop
            <ul class="nav nav-list">
                <li class="active"><a href="#">TTP-244 Plus</a></li>
                <li><a href="#">TTP-247 Series</a></li>
                <li><a href="#">TDP-225W</a></li>
            </ul>
          </li>
        	<li>Industrial
            <ul>
                <li>TTP-244M Pro</li>
                <li>TTP-2410M</li>
                <li>TTP-268M Series</li>
                <li>TTP-384M</li>
            </ul>
          </li>
        	<li>Mobile</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">
        Barcode Scanner
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul>
        	<li>Handheld Scanner</li>
        	<li>Mobile Terminal</li>
        	<li>Windows Mobile Terminal</li>
        </ul>
      </div>
    </div>
  </div>
</div>
	</div>
	<div class="span9">
		<ul class="breadcrumb">
          <li>Products <span class="divider">/</span></li>
          <li>Barcode Printer <span class="divider">/</span></li>
          <li>Desktop Model <span class="divider">/</span></li>
          <li>TSC TTP-244 Plus</li>
    </ul>
        <div class="row-fluid">
          <div class="span6">
            <h1>Desktop Barcode Printer TSC TTP-244 Plus</h1>
            <p>There are plenty of cheap plastic desktop label printers available on the market. But the TTP-244 Plus thermal transfer barcode printer is the only inexpensive solution that offers a powerful processor, generous memory, internal scalable fonts and the world’s most popular barcode printer language emulations in one small package.</p><p>
The TTP-244 Plus is ideal for customers looking for a high quality barcode printer, coupled with low ownership costs. The TTP-244 Plus is competitively priced, comes with a two-year warranty, and accommodates a 300-meter-long ribbon, which keeps both daily and lifetime operating costs lower than other comparable printers.</p><p>
The TTP-244 Plus offers the largest media and ribbon capacities in its class. Unlike most printers, it can easily handle both a 300-meter ribbon and a full 8-inch OD roll of labels. With its fast print speed, along with the largest memory capacity in its class, the TTP-244 Plus easily outperforms the competition.</p><p>
With its small, compact footprint and dual-motor design, the TTP-244 Plus is perfect for a wide variety of label and tag printing applications – everything from shipping labels to compliance and general purpose product-identification labels & tags.</p><p>
The TTP-244 Plus supports PDF417 and MaxiCode two-dimensional barcodes used to print complex transportation formats – a feature that makes it ideal for automobile service shops, stock rooms, and walk-in shipping and mail centers.</p>
          </div>
          <div class="span6">
            <div class="container"><img src="http://placehold.it/420x420" alt=""></div>
            <div class="container"><button type="button" class="btn btn-info">Ask for enquiries</button><button type="button" class="btn btn-success">Download pdf</button></div></div>
        </div>
        <div class="row-fluid">
          <div class="span6">
            <h4>Application</h4>
            <ul>
              <li>Shipping & Receiving</li>
              <li>Compliance labeling</li>
              <li>Asset tracking</li>
              <li>Inventory control</li>
              <li>Document management</li>
              <li>Shelf labeling and product marking</li>
            </ul>
          </div>
          <div class="span6"></div>
        </div>
	</div>
</div>